HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear

# Maven/Gradle directory
/target/
/build/

# Logs
*.log
log/

# IDE files
.idea/
.vscode/
*.iml

# Environment variables/Security keys
# Rất quan trọng: Không bao giờ commit file cấu hình chứa mật khẩu
#/src/main/resources/application.properties
#/src/main/resources/application.yml